MONGODB_URI=mongodb+srv://<user>:<password>@cluster0.mongodb.net/
MONGODB_DB=parity-foods
PORT=5000
CLIENT_ORIGIN=http://localhost:5173
OTP_EXPIRY_MINUTES=10
EMAIL_SENDER_ADDRESS=saurav4ryou707997@gmail.com
EMAIL_SENDER_PASS=your_google_app_password
EMAIL_FROM_NAME="Parity Foods"
